<?xml version='1.0' encoding='utf-8'?>
<widget id="app.sukashi" version="1.4.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Sukashi</name>
    <description>EXIF Watermark App</description>
    <author email="m@milky.blue" href="https://milky.blue">
        milky.blue
    </author>
    <!-- this hook will point your config.xml to the DevServer on Serve -->
    <hook type="after_prepare" src="../node_modules/vue-cli-plugin-cordova/serve-config-hook.js" />
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <icon src="../public/icon.png" />

    <platform name="android">
        <resource-file src="res/values/colors.xml" target="/app/src/main/res/values/colors.xml" />
        <preference name="android-targetSdkVersion" value="31" />
        <preference name="android-minSdkVersion" value="26" />
        <icon background="@color/background" density="mdpi" foreground="res/icon/android/mdpi.png" />
        <icon background="@color/background" density="hdpi" foreground="res/icon/android/hdpi.png" />
        <icon background="@color/background" density="xhdpi" foreground="res/icon/android/xhdpi.png" />
        <icon background="@color/background" density="xxhdpi" foreground="res/icon/android/xxhdpi.png" />
        <icon background="@color/background" density="xxxhdpi" foreground="res/icon/android/xxxhdpi.png" />
    </platform>

     <platform name="ios">
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="res/icon/ios/Icon-60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="res/icon/ios/Icon-Notification@3x.png" width="60" height="60" />
        <icon src="res/icon/ios/Icon-60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="res/icon/ios/Icon-76.png" width="76" height="76" />
        <icon src="res/icon/ios/Icon-76@2x.png" width="152" height="152" />
        <!-- Spotlight Icon -->
        <icon src="res/icon/ios/Icon-Small-40.png" width="40" height="40" />
        <icon src="res/icon/ios/Icon-Small-40@2x.png" width="80" height="80" />
        <!-- iOS 6.1 -->
        <!-- iPhone / iPod Touch -->
        <icon src="res/icon/ios/Icon.png" width="57" height="57" />
        <icon src="res/icon/ios/Icon@2x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="res/icon/ios/Icon-72.png" width="72" height="72" />
        <icon src="res/icon/ios/Icon-72@2x.png" width="144" height="144" />
        <!-- iPad Pro -->
        <icon src="res/icon/ios/Icon-83.5@2x.png" width="167" height="167" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/icon/ios/Icon-Small.png" width="29" height="29" />
        <icon src="res/icon/ios/Icon-Small@2x.png" width="58" height="58" />
        <icon src="res/icon/ios/Icon-Small@3x.png" width="87" height="87" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="res/icon/ios/Icon-Small-50.png" width="50" height="50" />
        <icon src="res/icon/ios/Icon-Small-50@2x.png" width="100" height="100" />
        <!-- iTunes Marketing Image -->
        <icon src="res/icon/ios/iTunesArtwork@2x.png" width="1024" height="1024" />
    </platform>
</widget>
